.feedDetail {
  composes: pr-6 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
  composes: pl-6 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(var(--offset-base-size) * 6);
  width: 584px;
  min-height: 214px;
  border-radius: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border: 2px dashed #4c4cff;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;
}

.orderNumber {
  composes: text_type_digits-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
  color: #f2f2f3;
  margin: 0;
}

.orderDate {
  composes: text_type_main-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
  color: #8585ad;
  margin: 0;
}

.mainText {
  composes: text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
  width: 100%;
  color: #f2f2f3;
  margin: 0;
}

.ingredients {
  height: 64px;
}

.detailContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

