.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.register {
  display: flex;
  flex-direction: column;
  margin: 180px auto;
  justify-content: center;
  align-items: center;
  width: 480px;
}

.register__header {
  composes: text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
  margin: 0;
}

.register__text {
  composes: text_type_main-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
  color: #8585ad;
  margin-bottom: 0;
}

.register__link {
  composes: ml-2 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
  color: #4c4cff;
  text-decoration: none;
}

.register__link:hover {
  cursor: pointer;
}
