.burgerConstructor {
  composes: mt-25 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
  padding: 0;
  width: 600px;
}

.burgerConstructor__list {
  /* используем готовый скролл бар  */
  display: flex;
  list-style: none;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 0;
  row-gap: 16px;
  max-height: 656px;
}

.burgerConstructor__order {
  composes: mt-10 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
  composes: mr-2 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: calc(var(--offset-base-size) * 10);
}
