.feed {
  width: 1240px;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.feed__header {
  composes: text_type_main-large from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
  margin-top: calc(var(--offset-base-size) * 10);
  margin-bottom: calc(var(--offset-base-size) * 5);
}
