.ingredientDetails__header {
  composes: text_type_main-large from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
  composes: mt-10 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
  margin-bottom: 0;
  width: 640px;
}

.ingredientDetails__textName {
  composes: text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
  composes: mt-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
  composes: mb-8 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
  text-align: center;
}

.ingredientDetails__list {
  composes: mb-15 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
  margin-top: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.ingredientDetails__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

.ingredientDetails__title {
  composes: text_type_main-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
  color: #8585ad;
}

.ingredientDetails__value {
  composes: text_type_digits-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
  color: #8585ad;
}
