.burgerIngredients {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.burgerIngredients__mainText {
  composes: mt-10 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
  composes: mb-5 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
  composes: text_type_main-large from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
}

.burgerIngredients__filter {
  display: flex;
}

.burgerIngredients__mainContainer {
  display: flex;
}

.burgerIngredients__list {
  /* используем готовый скролл бар  */
  composes: custom-scroll from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  scroll-behavior: smooth;
  /* рассчет высоты выполнен эмпирическим путем */
  height: calc(100vh - 300px);
}

.burgerIngredients__list::-webkit-scrollbar {
  /* scrollbar */
  /* переопределяем согласно макету фигмы */
  width: 8px;
  height: 664px;
}
.burgerIngredients__list::-webkit-scrollbar-thumb {
  /* thumb */
  /* переопределяем согласно макету фигмы */
  border-radius: 0px;
  border: 3px solid #8585ad;
}
